<mat-card>
    <mat-card-title class="mat-card-title">Login</mat-card-title>
    <mat-card-content class="mat-card-content">
        <mat-form-field>
            <input matInput placeholder="Login" name="login" id="login">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password" id="password">
        </mat-form-field> 
    </mat-card-content>
    <mat-card-actions class="mat-card-actions">
        <button mat-raised-button color="primary" (click)="loginClicked()">Zatwierdź</button>
    </mat-card-actions>
</mat-card>
